<! DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>MY FIRST BLOG</title>
        <style>
            h1{
                color: blueviolet;
                text-align: center;
            }
            h2{
                color: cadetblue;
            }
            a:hover{
                text-decoration:none;
                color: coral;
            }
            div{
                display: inline-block;
                border: 2px dashed cadetblue;
                border-radius: 3px;
                width: 32%;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <h1>That's My Blog</h1>
        <div>
            <h2><a href="#">First Blog</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div>
            <h2><a href="#">Second Blog</a></h2>
             <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         </div>
        <div>
            <h2><a href="#">Third Blog</a></h2>
             <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </body>
</html>